---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { IoArrowForward } from 'react-icons/io5'
import Masthead from '../components/Masthead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <h1 class="font-notoSans text-center">What I learn</h1>
      <Content>
        <section class="mb-8 inset-4">
          <p>
            As an China developer, I&apos;ve been spending hours and ghours at
            my learning......

            <a
              href={HOMEPAGE_URL}
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              >Learn more about me <IoArrowForward className="inline" />
            </a>
          </p>
        </section>
        <Footer />
      </Content>
    </main>
  </Body>
</html>
